*:before,
*:after,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 14px;

  h2 {
    margin: 0;
    padding: 20px 50px 0;
    font-size: 25px;
  }
}

header {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 200px;
  z-index: 97;

  background-color: white;
  border-bottom: 2px solid rgb(165, 165, 165);
}

#calendar_wrapper {
  top: 190px;
  position: relative;
}

#day_longevity {
  position: relative;
  display: inline-block;
  padding: 20px 50px 10px;
  text-align: left;

  p {
    margin: 0;
    display: inline-block;
  }

  h3 {
    display: inline-block;
    margin: 0;
    padding: 0 70px 0 0;
  }

  button {
    height: 25px;
    width: 70px;

    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
  }

  #changing_day {
    position: absolute;
    display: none;

    top: 7px;
    left: 287px;
    width: 369px;

    @media (max-width: 600px) {
      left: 50px;
      top: 60px;
      width: 232px;
      text-align: center;

      button {
        margin-top: 10px;
      }
    }

    padding: 10px;
    background: white;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 8px;
    z-index: 98;
  }
}

.hour {
  height: 60px;
  border-top: 1px solid rgb(192, 192, 192);

  font-size: 16px;
  font-weight: 200;
}

.half_hour {
  height: 60px;

  font-size: 12px;
  font-weight: 200;
}

#add_activity {
  position: relative;
  padding: 10px 50px 20px;
  text-align: left;

  h3 {
    display: inline-block;
    margin: 0;
    padding: 0 60px 0 0;
  }

  button {
    height: 25px;
    width: 70px;

    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
  }

  #activity_title {
    width: 230px;
    height: 2rem;
  }

  #activity_parameters {
    padding: 15px;
    position: absolute;
    display: none;

    z-index: 98;
    top: 0;
    left: 287px;
    width: 369px;

    background: white;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 8px;

    #btn_clear {
      margin-right: 0;
    }

    &_main {
      position: relative;
      // height: 300px;
      padding: 0 20px 0 0;
      text-align: right;

      p {
        margin: 0;
        padding: 0 0 20px 0;
      }

      #colorWheel {
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        height: 0;

        display: flex;
        justify-content: center;

        background-color: white;
      }
    }

    #color {
      text-align: center;

      #color_picker {
        height: 50px;
        width: 50px;
        border: 2px solid rgb(165, 165, 165);
        border-radius: 8px;
      }
    }
  }
}

#calendar_wrapper {
  position: relative;
  overflow: hidden;
}

.activity {
  position: absolute;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
