*:before,
*:after,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans";
  font-size: 14px;
}
body h2 {
  margin: 0;
  padding: 20px 50px 0;
  font-size: 25px;
}

header {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 170px;
  z-index: 96;
  background-color: white;
  border-bottom: 2px solid #a5a5a5;
}

#calendar_wrapper {
  top: 161px;
  position: relative;
}

#day_longevity {
  position: relative;
  display: inline-block;
  padding: 20px 50px 10px;
  text-align: left;
}
#day_longevity p {
  margin: 0;
  display: inline-block;
}
#day_longevity h3 {
  display: inline-block;
  margin: 0;
  padding: 0 70px 0 0;
}
#day_longevity button {
  height: 25px;
  width: 70px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
}
#day_longevity #changing_day {
  position: absolute;
  display: none;
  top: 7px;
  left: 287px;
  width: 380px;
  animation: fadein 0.7s;
  padding: 10px;
  background: white;
  border: 2px solid #a5a5a5;
  border-radius: 8px;
  z-index: 98;
}
@media (max-width: 600px) {
  #day_longevity #changing_day {
    left: 50px;
    top: 30px;
    width: 232px;
    text-align: center;
  }
  #day_longevity #changing_day button {
    margin-top: 10px;
  }
}

.hour {
  height: 60px;
  border-top: 1px solid silver;
  font-size: 16px;
  font-weight: 200;
}

.half_hour {
  height: 60px;
  font-size: 12px;
  font-weight: 200;
}

#add_activity {
  position: relative;
  padding: 10px 50px 0;
  text-align: left;
}
#add_activity h3 {
  display: inline-block;
  margin: 0;
  padding: 0 60px 0 0;
}
#add_activity button {
  height: 25px;
  width: 70px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
}
#add_activity #activity_parameters {
  padding: 15px;
  position: absolute;
  display: none;
  justify-content: center;
  z-index: 98;
  top: 0;
  left: 287px;
  width: 380px;
  background: white;
  border: 2px solid #a5a5a5;
  border-radius: 8px;
  animation: fadein 0.7s;
}
@media (max-width: 600px) {
  #add_activity #activity_parameters {
    top: 50px;
    left: 15px;
  }
}
#add_activity #activity_parameters p {
  text-align: left;
}
#add_activity #activity_parameters #activity_title {
  margin: 0 0 0 5px;
  width: 228px;
  height: 2rem;
}
#add_activity #activity_parameters #btn_clear {
  margin: 0 0 0 43px;
}
#add_activity #activity_parameters_main {
  position: relative;
  padding: 0 20px 0 0;
  text-align: left;
}
#add_activity #activity_parameters_main p {
  margin: 0;
  padding: 0 0 20px 0;
}
#add_activity #activity_parameters_main #colorWheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}
#add_activity #activity_parameters #color {
  text-align: center;
}
#add_activity #activity_parameters #color #color_picker {
  height: 50px;
  width: 50px;
  border: 2px solid #a5a5a5;
  border-radius: 8px;
}
#add_activity #activity_parameters #color #color_picker:hover {
  white-space: normal;
  cursor: pointer;
}

#calendar_wrapper {
  position: relative;
  overflow: hidden;
}

.activity {
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
}
.activity:hover {
  white-space: normal;
  cursor: pointer;
  overflow: visible;
  z-index: 2;
  transform: scale(1.1);
}

#activities_container:hover > .activity:not(:hover) {
  opacity: 0.33;
}

.modalBckgr {
  position: fixed;
  z-index: 96;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.103);
}

.notification_1,
.notification_2,
.notification_3 {
  position: fixed;
  bottom: 40px;
  right: 20px;
  height: 150px;
  width: 280px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  padding: 5px;
  text-align: center;
  z-index: 96;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.notification_1 h3,
.notification_2 h3,
.notification_3 h3 {
  margin: 12px 0 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}
.notification_1 p,
.notification_2 p,
.notification_3 p {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}
.notification_1 input,
.notification_2 input,
.notification_3 input {
  font-family: "Open Sans";
  font-size: 14px;
  width: 100px;
}
.notification_1:hover,
.notification_2:hover,
.notification_3:hover {
  white-space: normal;
  cursor: default;
  overflow: visible;
}

.notification_1 {
  bottom: 40px;
}

.notification_2 {
  bottom: 210px;
}

.notification_3 {
  bottom: 380px;
}/*# sourceMappingURL=style.css.map */